$middle-red: #f1856aff;
$black: #000000ff;
$light-sea-green: #19b3a6ff;
$baby-powder: #fffffcff;
$spanish-viridian: #267d5fff;
$mystic-maroon: #b4417eff;
$independence: #3b4668ff;
$lime-green: #69d322ff;
$indigo-dye: #1e3e5cff;
$blue-sapphire: #2e5e76ff;
$rose: #ff007fff;
$coquelicot: #f34616ff;
$red-purple: #e00070;
$emerald: #26cf86;
$bright-green: #2daf64;
