@import "utilities/variables";

.construction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .imgbox {
    img {
      width: 100px;
      height: auto;
    }
  }
  h1 {
    text-align: center;
    font-size: 24px;
    margin: 2%;
  }
  h2 {
    text-align: center;
    font-size: 16px;
    max-width: 80vh;
  }
}
